AFFILIATE_JUNCTION_ADVERTISERS_COUNT=500
AFFILIATE_JUNCTION_PUBLISHERS_COUNT=1000
AFFILIATE_JUNCTION_COOKIES_COUNT=5000
AFFILIATE_JUNCTION_HISTORY_MINS=90
AFFILIATE_JUNCTION_TRAFFIC_MIN=5000
AFFILIATE_JUNCTION_SALES_MIN=500
AFFILIATE_JUNCTION_SALES_BUCKETS_COUNT=10

# Fraud and Cohort Configuration
AFFILIATE_JUNCTION_FRAUD_COOKIES_COUNT=5
AFFILIATE_JUNCTION_COHORTS=TECH,FASHION,HEALTH,FINANCE,TRAVEL
AFFILIATE_JUNCTION_COHORT_SAME_PROBABILITY=0.60
AFFILIATE_JUNCTION_COHORT_DIFFERENT_PROBABILITY=0.20
AFFILIATE_JUNCTION_FRAUD_CROSS_CONTAMINATION_PROBABILITY=0.05
AFFILIATE_JUNCTION_RANDOM_COOKIE_PROBABILITY=0.15


WEB_AUTH_USER=watsonx
WEB_AUTH_PASSWD=watsonx.data

HCD_HOST=127.0.0.1
HCD_PORT=9042
HCD_DATACENTER=datacenter1
HCD_KEYSPACE=affiliate_junction
HCD_USER=cassandra
HCD_PASSWD=cassandra


# From /certs/passwords
PRESTO_HOST=ibm-lh-presto-svc
PRESTO_PORT=8443
PRESTO_USER=ibmlhadmin
PRESTO_PASSWD=password
PRESTO_CATALOG=iceberg_data
PRESTO_SCHEMA=affiliate_junction

