[Unit]
Description=Generate Traffic
After=truncate_all_tables.service


[Service]
Type=simple
Environment=PATH=/home/watsonx/affiliate-junction-demo/.venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=VIRTUAL_ENV=/home/watsonx/affiliate-junction-demo/.venv
ExecStartPre=/bin/sleep 30
ExecStart=/home/watsonx/affiliate-junction-demo/.venv/bin/python /home/watsonx/affiliate-junction-demo/generate_traffic.py
Restart=on-failure
User=watsonx
TimeoutStartSec=90

[Install]
WantedBy=multi-user.target
