[Unit]
Description=Use PySpark to move data from Presto Iceberg to HCD
After=hcd_to_presto.service


[Service]
Type=simple
Environment=PATH=/home/watsonx/affiliate-junction-demo/.venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=VIRTUAL_ENV=/home/watsonx/affiliate-junction-demo/.venv
ExecStart=/home/watsonx/affiliate-junction-demo/.venv/bin/python /home/watsonx/affiliate-junction-demo/presto_to_hcd.py
Restart=on-failure
User=watsonx

[Install]
WantedBy=multi-user.target
